@import "../Fonts/font.css";
*{
	margin: 0;
	padding: 0;
}

.custom-container{
	width: 100%;
	background-color: #ffffff;
	display: flex;
	/*padding-bottom: 68px;*/
	margin: 0;
}
.subcontainer{
	max-width: 980px;
	min-height: 910px;
	margin-top: 68px;
	margin-bottom: 65px;
	margin-left: 50px;
	margin-right: 12px
}
.section1{
	margin-top: 85px;
	margin-left:50px;
	margin-right: 84px;
}
.title{
	width: 145px;
}
.title1{
	font-family:  DINCond-Bold;
	font-weight: bold;
	
	-webkit-line-height: 33px;
	-moz-line-height: 33px;
	-o-line-height: 33px;
	line-height: 33px;
    font-size: 3.5em;
	color: #000000;
}
.title2{
	font-family: DINCond-Light_0;
	font-size: 1.9em;
}
nav{
	margin-top: 90px;
}
ul{
	list-style: none;
	margin: 0;
}
a{
	font-family:  DINCond-Light_0;
	text-decoration: none;
	color: #050707;
	font-size: 1.5em;
	text-decoration: none;
}
nav>ul>li{
	margin-bottom: 11px;
}

nav>ul>li>a:hover{
	color: #a62b30;
	text-decoration: none;
}
.section2{
	margin-right: 12px;
	    width: 100%;	
	    margin-top: 85px;

}
.col1{
	width: 100%;
	padding: 0;
}
.descriptions{
	display: flex;	
	justify-content: space-between;
    margin: 0 14px;
    margin-top: 12px;
	position: relative;
}
.images{
	height:auto;
	overflow: hidden;
	position: relative;
}
.imagesback{
	width: 100%;
	filter: grayscale(100%);
	transform: scale(1.7,2);


}
.images::after{
content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid white;
    z-index: 10;
    left: 15px;
    bottom: 0;
	}

.post_title{
	font-family:  DINCond-Bold;
	font-size: 1.2em;
}
.description{
	font-family:  DINCond-Regular;
}
.like{
	font-size: 1.2em;
	position: absolute;
	right: 0;
}
.col1:hover .imagesback{
	filter: unset;
	transform: scale(1.7,2);
}
.col1:hover .texts{
	opacity: 0;
}  


a:visited{
	color: #000000;
}

.active{
	color: #b66454 !important;
}