@font-face{
	font-family: DINCond-Bold;
	src: url('../Fonts/DINCond-Bold.otf');
}
@font-face{
	font-family: DINCond-Light_0;
	src: url('../Fonts/DINCond-Light_0.otf');
}
@font-face{
	font-family: DINCond-Regular;
	src: url('../Fonts/DINCond-Regular.otf');
}